## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import sklearn as skl
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
#  Import and read the charity_data.csv.
import pandas as pd 
#from google.colab import drive

In [2]:
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_columns = application_df.drop(["EIN", "NAME"], axis='columns')
application_columns

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_columns.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

# New Section

In [5]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_columns['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
#application_types_to_replace = sum(application_columns['APPLICATION_TYPE'] < 200)
print(application_columns['APPLICATION_TYPE'].value_counts() < 200)

T3     False
T4     False
T6     False
T5     False
T19    False
T8     False
T7     False
T10    False
T9      True
T13     True
T12     True
T2      True
T25     True
T14     True
T29     True
T15     True
T17     True
Name: APPLICATION_TYPE, dtype: bool

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = application_columns['APPLICATION_TYPE'].value_counts().loc[lambda x : x<200] 
# Replace in dataframe
for app in application_types_to_replace:
    application_columns['APPLICATION_TYPE'] = application_columns['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_columns['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_columns['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
application_columns['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = application_columns['CLASSIFICATION'].value_counts().loc[lambda x : x<1880]
# Replace in dataframe
for cls in classifications_to_replace:
    application_columns['CLASSIFICATION'] = application_columns['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_columns['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
application_dropped = application_columns.drop('IS_SUCCESSFUL', axis=1)
application_dropped

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590
...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
X = pd.get_dummies(application_dropped, columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_columns['IS_SUCCESSFUL'].values
X = X.values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [14]:
len(X)

34299

In [15]:
len(y)

34299

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
len(X_test_scaled)

8575

In [18]:
len(y_train)

25724

In [19]:
len(X_train_scaled)

25724

## Compile, Train and Evaluate the Model

In [127]:
from pandas.core.common import not_none
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_dimentions = len(X_train_scaled[0])
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=61, activation="relu", input_dim=input_dimentions))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=42, activation="relu"))
nn.add(tf.keras.layers.Dense(units=21, activation="relu"))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_30"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_155 (Dense)           (None, 61)                7137

 dense_156 (Dense)           (None, 42)                2604

 dense_157 (Dense)           (None, 21)                903

 dense_158 (Dense)           (None, 1)                 22

=================================================================
Total params: 10,666
Trainable params: 10,666
Non-trainable params: 0
_________________________________________________________________

In [128]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [129]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 690us/step - loss: 0.5731 - accuracy: 0.7198
Epoch 2/100
804/804 [==============================] - 1s 686us/step - loss: 0.5531 - accuracy: 0.7296
Epoch 3/100
804/804 [==============================] - 1s 681us/step - loss: 0.5487 - accuracy: 0.7313
Epoch 4/100
804/804 [==============================] - 1s 685us/step - loss: 0.5465 - accuracy: 0.7318
Epoch 5/100
804/804 [==============================] - 1s 699us/step - loss: 0.5453 - accuracy: 0.7324
Epoch 6/100
804/804 [==============================] - 1s 704us/step - loss: 0.5439 - accuracy: 0.7341
Epoch 7/100
804/804 [==============================] - 1s 731us/step - loss: 0.5431 - accuracy: 0.7352
Epoch 8/100
804/804 [==============================] - 1s 720us/step - loss: 0.5413 - accuracy: 0.7339
Epoch 9/100
804/804 [==============================] - 1s 696us/step - loss: 0.5414 - accuracy: 0.7349
Epoch 10/100
804/804 [==============================] - 1s 677us/step - loss: 0.5405 - accuracy: 0.7348
Epoch 11/100
804/804 [==============================] - 1s 689us/step - loss: 0.5400 - accuracy: 0.7345
Epoch 12/100
804/804 [==============================] - 1s 687us/step - loss: 0.5394 - accuracy: 0.7354
Epoch 13/100
804/804 [==============================] - 1s 685us/step - loss: 0.5391 - accuracy: 0.7364
Epoch 14/100
804/804 [==============================] - 1s 680us/step - loss: 0.5385 - accuracy: 0.7369
Epoch 15/100
804/804 [==============================] - 1s 681us/step - loss: 0.5384 - accuracy: 0.7364
Epoch 16/100
804/804 [==============================] - 1s 717us/step - loss: 0.5375 - accuracy: 0.7372
Epoch 17/100
804/804 [==============================] - 1s 687us/step - loss: 0.5369 - accuracy: 0.7383
Epoch 18/100
804/804 [==============================] - 1s 786us/step - loss: 0.5371 - accuracy: 0.7363
Epoch 19/100
804/804 [==============================] - 1s 707us/step - loss: 0.5368 - accuracy: 0.7375
Epoch 20/100
804/804 [==============================] - 1s 717us/step - loss: 0.5359 - accuracy: 0.7390
Epoch 21/100
804/804 [==============================] - 1s 722us/step - loss: 0.5356 - accuracy: 0.7383
Epoch 22/100
804/804 [==============================] - 1s 705us/step - loss: 0.5351 - accuracy: 0.7386
Epoch 23/100
804/804 [==============================] - 1s 725us/step - loss: 0.5349 - accuracy: 0.7385
Epoch 24/100
804/804 [==============================] - 1s 692us/step - loss: 0.5345 - accuracy: 0.7379
Epoch 25/100
804/804 [==============================] - 1s 695us/step - loss: 0.5342 - accuracy: 0.7395
Epoch 26/100
804/804 [==============================] - 1s 719us/step - loss: 0.5338 - accuracy: 0.7400
Epoch 27/100
804/804 [==============================] - 1s 699us/step - loss: 0.5337 - accuracy: 0.7387
Epoch 28/100
804/804 [==============================] - 1s 680us/step - loss: 0.5338 - accuracy: 0.7383
Epoch 29/100
804/804 [==============================] - 1s 684us/step - loss: 0.5333 - accuracy: 0.7386
Epoch 30/100
804/804 [==============================] - 1s 700us/step - loss: 0.5331 - accuracy: 0.7387
Epoch 31/100
804/804 [==============================] - 1s 710us/step - loss: 0.5327 - accuracy: 0.7406
Epoch 32/100
804/804 [==============================] - 1s 721us/step - loss: 0.5326 - accuracy: 0.7395
Epoch 33/100
804/804 [==============================] - 1s 712us/step - loss: 0.5326 - accuracy: 0.7409
Epoch 34/100
804/804 [==============================] - 1s 730us/step - loss: 0.5324 - accuracy: 0.7396
Epoch 35/100
804/804 [==============================] - 1s 792us/step - loss: 0.5327 - accuracy: 0.7408
Epoch 36/100
804/804 [==============================] - 1s 786us/step - loss: 0.5318 - accuracy: 0.7395
Epoch 37/100
804/804 [==============================] - 1s 862us/step - loss: 0.5317 - accuracy: 0.7404
Epoch 38/100
804/804 [==============================] - 1s 700us/step - loss: 0.5311 - accuracy: 0.7406
Epoch 39/100
804/804 [==============================] - 1s 689us/step - loss: 0.5313 - accuracy: 0.7408
Epoch 40/100
804/804 [==============================] - 1s 737us/step - loss: 0.5312 - accuracy: 0.7414
Epoch 41/100
804/804 [==============================] - 1s 706us/step - loss: 0.5306 - accuracy: 0.7416
Epoch 42/100
804/804 [==============================] - 1s 727us/step - loss: 0.5311 - accuracy: 0.7409
Epoch 43/100
804/804 [==============================] - 1s 687us/step - loss: 0.5303 - accuracy: 0.7417
Epoch 44/100
804/804 [==============================] - 1s 687us/step - loss: 0.5310 - accuracy: 0.7411
Epoch 45/100
804/804 [==============================] - 1s 712us/step - loss: 0.5305 - accuracy: 0.7399
Epoch 46/100
804/804 [==============================] - 1s 700us/step - loss: 0.5303 - accuracy: 0.7402
Epoch 47/100
804/804 [==============================] - 1s 733us/step - loss: 0.5303 - accuracy: 0.7411
Epoch 48/100
804/804 [==============================] - 1s 763us/step - loss: 0.5297 - accuracy: 0.7412
Epoch 49/100
804/804 [==============================] - 1s 849us/step - loss: 0.5300 - accuracy: 0.7419
Epoch 50/100
804/804 [==============================] - 1s 827us/step - loss: 0.5305 - accuracy: 0.7403
Epoch 51/100
804/804 [==============================] - 1s 725us/step - loss: 0.5294 - accuracy: 0.7416
Epoch 52/100
804/804 [==============================] - 1s 702us/step - loss: 0.5292 - accuracy: 0.7420
Epoch 53/100
804/804 [==============================] - 1s 752us/step - loss: 0.5297 - accuracy: 0.7426
Epoch 54/100
804/804 [==============================] - 1s 701us/step - loss: 0.5287 - accuracy: 0.7413
Epoch 55/100
804/804 [==============================] - 1s 724us/step - loss: 0.5291 - accuracy: 0.7417
Epoch 56/100
804/804 [==============================] - 1s 707us/step - loss: 0.5293 - accuracy: 0.7408
Epoch 57/100
804/804 [==============================] - 1s 743us/step - loss: 0.5290 - accuracy: 0.7411
Epoch 58/100
804/804 [==============================] - 1s 709us/step - loss: 0.5288 - accuracy: 0.7433
Epoch 59/100
804/804 [==============================] - 1s 681us/step - loss: 0.5291 - accuracy: 0.7418
Epoch 60/100
804/804 [==============================] - 1s 694us/step - loss: 0.5282 - accuracy: 0.7424
Epoch 61/100
804/804 [==============================] - 1s 765us/step - loss: 0.5292 - accuracy: 0.7419
Epoch 62/100
804/804 [==============================] - 1s 739us/step - loss: 0.5278 - accuracy: 0.7416
Epoch 63/100
804/804 [==============================] - 1s 731us/step - loss: 0.5285 - accuracy: 0.7409
Epoch 64/100
804/804 [==============================] - 1s 800us/step - loss: 0.5282 - accuracy: 0.7415
Epoch 65/100
804/804 [==============================] - 1s 696us/step - loss: 0.5281 - accuracy: 0.7423
Epoch 66/100
804/804 [==============================] - 1s 802us/step - loss: 0.5279 - accuracy: 0.7427
Epoch 67/100
804/804 [==============================] - 1s 808us/step - loss: 0.5277 - accuracy: 0.7425
Epoch 68/100
804/804 [==============================] - 1s 736us/step - loss: 0.5282 - accuracy: 0.7416
Epoch 69/100
804/804 [==============================] - 1s 731us/step - loss: 0.5278 - accuracy: 0.7419
Epoch 70/100
804/804 [==============================] - 1s 753us/step - loss: 0.5276 - accuracy: 0.7424
Epoch 71/100
804/804 [==============================] - 1s 860us/step - loss: 0.5275 - accuracy: 0.7418
Epoch 72/100
804/804 [==============================] - 1s 699us/step - loss: 0.5277 - accuracy: 0.7427
Epoch 73/100
804/804 [==============================] - 1s 691us/step - loss: 0.5276 - accuracy: 0.7431
Epoch 74/100
804/804 [==============================] - 1s 685us/step - loss: 0.5273 - accuracy: 0.7423
Epoch 75/100
804/804 [==============================] - 1s 689us/step - loss: 0.5275 - accuracy: 0.7417
Epoch 76/100
804/804 [==============================] - 1s 730us/step - loss: 0.5279 - accuracy: 0.7415
Epoch 77/100
804/804 [==============================] - 1s 687us/step - loss: 0.5271 - accuracy: 0.7422
Epoch 78/100
804/804 [==============================] - 1s 716us/step - loss: 0.5273 - accuracy: 0.7427
Epoch 79/100

804/804 [==============================] - 1s 856us/step - loss: 0.5270 - accuracy: 0.7426
Epoch 80/100
804/804 [==============================] - 1s 798us/step - loss: 0.5266 - accuracy: 0.7430
Epoch 81/100
804/804 [==============================] - 1s 745us/step - loss: 0.5268 - accuracy: 0.7419
Epoch 82/100
804/804 [==============================] - 1s 677us/step - loss: 0.5267 - accuracy: 0.7429
Epoch 83/100
804/804 [==============================] - 1s 679us/step - loss: 0.5269 - accuracy: 0.7420
Epoch 84/100
804/804 [==============================] - 1s 681us/step - loss: 0.5266 - accuracy: 0.7429
Epoch 85/100
804/804 [==============================] - 1s 682us/step - loss: 0.5273 - accuracy: 0.7423
Epoch 86/100
804/804 [==============================] - 1s 679us/step - loss: 0.5270 - accuracy: 0.7425
Epoch 87/100
804/804 [==============================] - 1s 677us/step - loss: 0.5264 - accuracy: 0.7428
Epoch 88/100
804/804 [==============================] - 1s 748us/step - loss: 0.5264 - accuracy: 0.7426
Epoch 89/100
804/804 [==============================] - 1s 681us/step - loss: 0.5261 - accuracy: 0.7429
Epoch 90/100
804/804 [==============================] - 1s 674us/step - loss: 0.5266 - accuracy: 0.7430
Epoch 91/100
804/804 [==============================] - 1s 679us/step - loss: 0.5268 - accuracy: 0.7421
Epoch 92/100
804/804 [==============================] - 1s 684us/step - loss: 0.5272 - accuracy: 0.7423
Epoch 93/100
804/804 [==============================] - 1s 821us/step - loss: 0.5261 - accuracy: 0.7434
Epoch 94/100
804/804 [==============================] - 1s 880us/step - loss: 0.5263 - accuracy: 0.7427
Epoch 95/100
804/804 [==============================] - 1s 853us/step - loss: 0.5261 - accuracy: 0.7420
Epoch 96/100
804/804 [==============================] - 1s 803us/step - loss: 0.5261 - accuracy: 0.7429
Epoch 97/100
804/804 [==============================] - 1s 827us/step - loss: 0.5259 - accuracy: 0.7430
Epoch 98/100
804/804 [==============================] - 1s 783us/step - loss: 0.5256 - accuracy: 0.7436
Epoch 99/100
804/804 [==============================] - 1s 786us/step - loss: 0.5260 - accuracy: 0.7439
Epoch 100/100
804/804 [==============================] - 1s 852us/step - loss: 0.5256 - accuracy: 0.7434

In [130]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5885 - accuracy: 0.7314 - 214ms/epoch - 798us/step
Loss: 0.5884528756141663, Accuracy: 0.7314285635948181

In [131]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('AlphabetSoupCharity_Optimization.h5')